.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 10%;
}

.cartItem .description {
  width: 100%;
  font-size: 1em;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 100px;
  height: 20px;
  background-color: black;
  color: yellow;
  border: none;
  border-radius: 10px;
  margin-bottom: 50px;
  padding-bottom: 45px;
  cursor: pointer;
  font-size: 1em;
}

.checkout button:hover {
  background-color: yellow;
  color: black;
}

@media screen and (max-width: 850px) and (min-width: 350px) {
  .cartItem img {
    border: 3px solid black;
    border-radius: 20px;
    width: 150px;
    height: 100px;
    background-color: yellow;
    font-size: 40px;
    font-family: cursive;
    cursor: context-menu;
  }
}