input[type=text] {
    border: 3px solid black;
    border-radius: 20px;
    width: 1000px;
    height: 70px;
    background-color: yellow;
    font-size: 20px;
    font-family: cursive;
    cursor:context-menu;
  }
  
  
  label {
    background-color: yellow;
    color: black;
    font-size: 30px;
    border-radius: 8px;
    font-weight: bold;
    font-family: fantasy;
  }
  
  form button {
    height: 40px;
    width: 150px;
    border-radius: 0;
    font-size: x-large;
    font-weight: bold;
  }
  
  #message {
    height: 200px;
  }
  