.slide-container {
  background-color: black;
  width: 850px;
  height: 850px;
  position: absolute;
  left: 0%;
  border: 1px solid yellow;
  border-radius: 6px;
  overflow: hidden;
}

.image-container {
  width: 100%;
  display: flex;
  animation: slide 12s infinite;
}

.image-container img {
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-200%);
  }
  65% {
    transform: translateX(-300%);
  }
  75% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-300%);
  }
  85% {
    transform: translateX(-400%);
  }
  90% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(-500%);
  }
}

.exploreMore {
  display: flex;
}

.exploreMore img {
  position: absolute;
  width: 15%;
  height: 15%;
  right: 5%;
  border-radius: 20px;
  margin: 20%;
}
.exploreMoree img {
  position: absolute;
  width: 15%;
  height: 15%;
  border-radius: 9%;
  margin-left: 60%;
  margin: 20%;
  right: -18%;
}

.exploreMore .btn {
  position: absolute;
  top: 80%;
  right: 17%;
  background-color: yellow;
}

.exploreMore .btn:hover {
  background-color: white;
}

.exploreMore p {
  color: yellow;
  font-size: medium;
  text-align: center;
  float: 50px;
}
